#Temporary
*.swp
*~
\#*\#

#GNU Global
GTAGS
GRTAGS
GPATH
GSYMS

#XCode
project.xcworkspace
xcuserdata
.DS_Store

#Autotools
autoscan.log
autom4te.cache
configure.scan
configure.status
config.log
stamp-h1
libtool
Makefile
config.h

#Build
*.([oa]|la)
/build/
